<header>
  <nav>
  <div class="logo">
    <img src="/img/log.webp" alt="Logo">
  </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a id="nosotros">Nosotros</a></li>
    <li><a id="presupuestos">Presupuestos</a></li>
    <li><a href="oportunidades">Oportunidades</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
  <div class="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>
</header>

<script>
const burger = document.querySelector('.burger');
const navLinks = document.querySelector('.nav-links');
const links = document.querySelectorAll('.nav-links li');

burger.addEventListener('click', () => {
  // Toggle Nav
  navLinks.classList.toggle('nav-active');

  // Animate Links
  links.forEach((link, index) => {
    if (link.style.animation) {
      link.style.animation = '';
    } else {
      link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.3}s`;
    }
  });

  // Burger Animation
  burger.classList.toggle('toggle');
});

</script>